.root {
    -fx-background-color: white;
}

.text_title {
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #263238;
    -fx-border-radius: 100;
    -fx-text-fill: #263238;
}

.text_subtitle {
    -fx-text-fill: #263238;
    -fx-font-size: 34px;
    -fx-font-smoothing-type: lcd;
}

.text_info {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #263238;
}

.text_green {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #23d48c;
}

.text_red {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #f16666;
}

.text_pawn {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #263238;
}

.circle_main {
    -fx-border-color: #263238;
    -fx-background-color: white;
    -fx-text-fill: #263238;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-radius: 100;
    -fx-border-width:4;
    -fx-background-radius: 100;
    -fx-border-insets: -5 -5 -5 -5;
    -fx-effect: dropshadow(gaussian, #263238, 5, 0.1, 1, 1);
}

.circle_over {
    -fx-background-color: #23d48c;
    -fx-text-fill: white;
    -fx-background-radius: 100;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.button_round {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-text-fill: #263238;
    -fx-background-radius: 100;
}

.button_square {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-text-fill: #263238;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #eceff1;;
}

.button:pressed:hover {
    -fx-background-color: white;
}

.table {
    -fx-effect: none;
}

.date-picker:disabled, .date-picker > * {
    -fx-opacity: 0.85;
    -fx-alignment: center;
}

.combo-box:disabled, .combo-box > * {
    -fx-opacity: 0.85;
    -fx-alignment: center;
}